.front{
    background-color: rgb(48, 48, 87);
    margin-left: 0px;
    width: 600px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0,0.75);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    /* flex: 0.65; */
    flex: 1;
    /* background-image: url('https://previews.123rf.com/images/adehoidar/adehoidar1809/adehoidar180900036/107740985-social-media-symbols-seamless-pattern-internet-messenger-background-vector-illustration.jpg'); */
}

.img{
    height: 550px;
    border-radius: 25px;
}