.profile{
    background-color:rgb(23, 18, 18);
    margin-left: 0px;
    width: 300px;
    /* box-shadow: -1px 4px 20px -6px rgba(0, 0, 0,0.75); */
    box-shadow: 10px 5px 5px rgb(62, 5, 62);
    border-radius: 25px;
}

.image{
    height: 100px;
    width: 100px;
    border-radius:100px ;
    padding:25px;
    right: 70%;
    margin-left: 70px;
}

.forms{
    background-color: #8f0f6a;
    padding: 15px;
    width: 200px;
    border-radius: 25px;
    margin-left: 40px;
    height: 250px;
}

.roomN{
    color: white;
    font-size: 20px;
    /* margin-left: 70px; */
    padding-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    text-shadow: 3px 3px 5px #8f0f6a, 0 0 1em #8f0f6a, 0 0 0.2em #8f0f6a;
}
.forms>h4{
    color:rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 1000px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-shadow: 3px 3px 5px #6863cb, 0 0 1em #6863cb, 0 0 0.2em #6863cb;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
}

.forms>p{
    color:white;
    font-size: 14px;
    font-weight: 200px;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(49, 49, 120);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.scroll{
        width: 175px;
        height: 90px;
        overflow-y: auto;
        scrollbar-color: rebeccapurple green;
        scrollbar-width: thin;
      
}
   
.scroll::-webkit-scrollbar {
    width: 20px;
  }
   
  .scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
   
   .scroll::-webkit-scrollbar-thumb {
    background: #8f0f6a; 
    border-radius: 10px;
  }
  
  
   .scroll::-webkit-scrollbar-thumb:hover {
    background: #8f0f6a; 
  } 
