.user{
    background-color: rgb(39, 39, 72);
    margin-left: 0px;
    width: 300px;
    box-shadow: 10px 5px 5px rgb(62, 5, 62);
    border-radius: 25px;
}

.sidebar_search{
    display: flex;
    align-items: center;
    height: 39px;
    padding: 10px;
}

.sidebar_searchContainer{
    display: flex;
    align-items: center;
    /* background-color: rgb(39, 39, 72); */
    background-color: rgb(189, 212, 102);
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar_searchContainer>.MuiSvgIcon-root{
    color: white;
    padding: 10px;
}

.sidebar_searchContainer>input{
    border:none;
    outline-width: 0;
    margin-left: 10px;
    background-color: rgb(39, 39, 72);
    color: white;
}

.sidebar_chats{
    flex: 1;
    /* background-color: rgb(19, 19, 48); */
    background-color: rgb(58, 170, 73);
    overflow: hidden;
    
    box-shadow: 10px 5px 5px rgb(62, 5, 62);
    box-shadow: -1px 4px 20px -6px rgba(83, 5, 77, 0.75);
    border-radius: 10px;
    transition: transform .2s;
}


/* .sidebar_chats:hover{
    background-color: rgb(39, 39, 72);
    transform: scale(1.02);
} */

/* .sidebar_chats{
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow-y: scroll;     
}*/

.sidebar_chats::-webkit-scrollbar {
display: none;
} 

.sidebar_chats{
    width:200;
    height: 480px;
    overflow-y:auto;
    /* scrollbar-color: rebeccapurple green; */
    scrollbar-width:thin;
  
}

.sidebar_chats::-webkit-scrollbar {
width: 10px;
}

.sidebar_chats::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}


.sidebar_chats::-webkit-scrollbar-thumb {
/* background: #8f0f6a; */
background: #ce3232;  
border-radius: 10px;
}


.sidebar_chats::-webkit-scrollbar-thumb:hover {
/* background: #8f0f6a;  */
background: #ce3232; 
} 

.Search{
    margin-top: 5%;
}